@import './base.css';

#app {
  max-width: 1280px;
  margin: auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: rgb(114, 116, 115);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}

:root {
  --color1: #413249;
  --color2: #ccc591;
  --color3: #e2b24c;
  --color4: #eb783f;
  --color5: #ff426a;
}